html, body {
    height:100%; /* important to vertically align the container */
    margin:0;
    padding:0;
    font-size: 1rem;
    font-family: 'Nanum Gothic',Dotum,"돋움",Gulim,"굴림",Verdana,sans-serif;
}
body {
    color: #272727;
    background: #fff url(http://www.transparenttextures.com/patterns/concrete-wall.png);
}

a {
    color: #404040;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color:#70b123;
}

.main-container {
    margin-top: 0;
}

.notFound-container {
    margin-top: 10rem;
}

button[disabled] {
    cursor: default;
}

input[required] + label::after {
    content: '*';
    margin-left: 1px;
    color: red;
    display: inline-table;
    position: relative;
    top: -3px;
}

#registerSuccess,  #updateSuccess{
    margin-top: -30px;
}

#strengthMessage, #validationMessage {
    font-size: 0.75rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    margin-top: -13px;
}

.Short, .msg, .msgEmail {    
    color: #dc3545;  
}  
.Weak {   
    color: #ffc107;  
}  
.Good {    
    color: #28a745;  
}  
.Strong {    
    color: #d39e00;  
} 

.card-title {
    font-size: 1.50rem;
    font-weight: bold;
}

label {
    padding-right: 5px;
    display: block;
    text-align: right;
}

.btn {
    margin-top: 1rem;
}